/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
    
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.button {
    background-color: #0160FF;
    color: white;
    padding: 5px 12px;
}
/* 
    HEADER
*/

header{
    background-color: #fff;
}

/* 
    HEADER TOP
*/

.header-top {
    display: flex;
    align-items: center;
    min-height: 60px;
    min-width: 100vw;
    margin: 0;
}

header .container nav{
    margin-left: 10px;
    margin-right: 10px;
}

nav {
    width: 50%;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav a{ 
    color: black;
    font-size: smaller;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.header-top nav:nth-of-type(2){
    text-align: end;
}

/* 
    DEBUG
*/


/* 
    DEBUG HEADER TOP
*/



/* .debug .header-top{
    background-color: lightcoral;
} */

/* 
    DEBUG HEADER BOTTOM
*/

.debug .header-bottom{
    background-color: #B3D0E7;
    min-height: 500px;
    min-width: 100vw;
    margin: 0;
}

/* 
    MAIN    
*/

.section section{
    margin: 0 auto;
    max-width: 70%;
}

/* 
    SEZIONE 1
*/

.debug .section-1{
    background-color: rgb(1, 90, 213);
    min-height: 100vh;
}

/* 
    SEZIONE 2
*/

.debug .section-2{
    background-color: burlywood;
    min-height: calc((100vh / 2) - 60px);
}

/* 
    SEZIONE 3
*/

.debug .section-3{
    background-color: brown;
    height: calc(100vh - 60px);
}

/* 
    SEZIONE 4
*/

.debug .section-4{
    background-color:cadetblue;
    min-height: calc((100vh / 3) - 60px);
}

/* 
    SEZIONE 5    
*/

.debug .section-5{
    height: calc(100vh - 60px);
}

/* 
    SEZIONE 5 TOP
*/

.debug .section-5-top{
    background-color: cornflowerblue;
    height: 70%;
}
/* 
    SEZIONE 5 BOTTOM
*/

.debug .section-5-bottom{
    background-color:darkcyan ;
    height: 30%;
}

/* 
    SEZIONE 6
*/

.debug .section-6{
    background-color: darkgreen;
    height: calc(50vh - 60px);
}

/* 
    FOOTER 
*/

footer {
    background-color: #000;
    height: calc(50vh - 60px);
    color: white;
}

/* 
    FOOTER TOP
*/

.debug .footer-top {
    background-color: 222;
    height: 80%;
}

/* 
    FOOTER BOTTOM
*/

.debug .footer-bottom {
    background-color: gainsboro;
    height: 20%;
}